*{margin: 5px 5px 5px 5px;
   padding: 5px 5px 5px 5px;
   
   
}

 
 
 .container{
   border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
   
    background-image: url(Banner\ Image.png); 
   
   
   
width: 1340px;
      height: 600px;
      flex-shrink: 0;
 background-repeat: no-repeat; }
 
 .bg-text h3{font-family: 'Open Sans', sans-serif}
 
 .bg-text{  color: #FFF;
   

   text-align: center;
   font-family: Merriweather;
   font-size: 72px;
   font-style: normal;
   font-weight: 900;
   line-height: 95px;
padding: 200px;
   text-shadow:1px 1px 1px #919191,
   1px 2px 1px #919191,
   1px 3px 1px #919191,

   
   1px 30px 60px rgba(16,16,16,0.4);
  
   
   
}


.lext{width: 383px;

height: 107px;
flex-shrink: 0;
display: flex;
padding: 100px 0 0 400px;
text-shadow:1px 1px 1px #919191,
   1px 2px 1px #919191,
   1px 3px 1px #919191,
}

 
.two{color: #F00; flex-shrink: 0;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.four{width: 383px;
   height: 107px;
   flex-shrink: 0;
   display: flexbox;
   padding: 70px 0 0 600px}

.jook{color: #F00;

   text-align: center;
   font-family: Inter;
   font-size: 50px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;}







   .took{width: 383px;
      height: 107px;
      flex-shrink: 0;
      display: flexbox;
         padding: 70px 0 0 600px;
        

         text-align: center;
         font-family: Inter;
         font-size: 50px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;}
      
      
      
      






.img{padding:50px 0px 0px 400px ;}


.wow{ 
   background-image: url(Vectorrr.png);
   
   
   width: 1280px;
height: 570px;
flex-shrink: 0;


}

.leek {color: #f0e9e9;

   font-family: Merriweather;
   font-size: 64px;
   font-style: normal;
   font-weight: 900;
   line-height: 88px; 
   letter-spacing: 7.04px;
   padding: 50px 0px 400px 50px;
   text-align: center;
   
   display: inline;
}
.ooo{color: rgba(252, 252, 252, 0.8);

   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
padding: 0px 0px 0px 50px;}
button{border-radius: 8px;
color: rgb(230, 225, 217);
background-color: none;
background: transparent;
border : none;

text-decoration-color: aliceblue;
padding: 10px 0px 0px 40px;
display: flex}
 

.grow{
   display: flex;
   width: 319.83px;
   height: 464.662px;
   padding: 50px 100px 500px 900px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;}

.pink{width: 1290px;
   height: 500px;
   flex-shrink: 0;
}
   .brother{ border-radius: 16px;
      background: rgba(255, 0, 0, 0.05);
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 66px;
      text-transform: capitalize;
      padding: 200px 0px 0px 400px;
      

}.spun{color: #F00;;}


.sister{
   width: 165px;
   height: 56px;
   display: flex;
   
padding: 1px 32px 0px 400px;
justify-content: center;
background-color:rgba(255, 0, 0, 0.05);



}
.little{border-radius: 5px;
   background: #F00;
   
}
.what{color: #070211;
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
padding-left: 500px;}
   .holi{color: #F00;}
   .sale{color: #070211;
      font-family: Merriweather;
      font-size: 72px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
   padding-left: 300px;}
      .dolor{color: rgba(7, 2, 17, 0.60);

        
         font-family: Inter;
         font-size: 20px;
         font-style: normal;
         font-weight: 500;
         line-height: 32px;}

