*{margin: 5px 5px 5px 5px;
   padding: 5px 5px 5px 5px;
   
   
}

 
 
 .container{
   border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
   
    background-image: url(Banner\ Image.png); 
   
   
   
width: 1340px;
      height: 600px;
      flex-shrink: 0;
 background-repeat: no-repeat; }
 
 .bg-text h3{font-family: 'Open Sans', sans-serif}
 
 .bg-text{color: #FFF;
   

   text-align: center;
   font-family: Merriweather;
   font-size: 72px;
   font-style: normal;
   font-weight: 900;
   line-height: 95px;
padding: 200px;}

.lext{width: 383px;
height: 107px;
flex-shrink: 0;
display: flex;
padding: 100px 0 0 300px}

 
.two{color: #F00; flex-shrink: 0;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;}

.jook{color: #F00;
padding: 100px 0 0 5px;
   text-align: center;
   font-family: Inter;
   font-size: 50px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;}
   .took{color: #070211;

      text-align: center;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;}